.mainContainer {
  width: 100%;
  height: 86vh;
  position: relative;
  overflow-y: scroll;
}

.mainContainer::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: 600px) {
  .mainContainer {
    height: 88vh;
  }
}
